@import url('./vars.css');

body {
  font-family: Arial, sans-serif;
  background-color: var(--color1);
  color: var(--color2);
  padding: 2rem;
}

.form-container {
  max-width: 600px;
  margin: auto;
  background-color: var(--color2);
  color: var(--color1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
  font-weight: bold;
}

input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 0.3rem;
  width: 100%;
}

button {
  margin-top: 2rem;
  padding: 0.7rem;
  background-color: var(--color3);
  color: var(--color2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color4);
}

#proveedorInfo {
  margin-top: 2rem;
  padding: 1rem;
  background-color: var(--color1);
  color: var(--color2);
  border-radius: 5px;
  border: 1px solid #ddd;
}

#proveedorInfo p {
  margin: 0.5rem 0;
}

#mensaje {
  margin-top: 1.5rem;
  font-weight: bold;
}