@import url('./vars.css');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Inter', sans-serif;
  background-color: var(--blanco);
  color: var(--color-texto);
  margin: 0;
  padding: 0;
}

.login-container {
  background-color: var(--color-secundario);
  color: var(--color1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  margin-bottom: 1rem;
  color: var(--color-texto)
}

.login-container label {
  display: block;
  margin: 0.5rem 0 0.2rem;
}

.login-container input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--color-terciario);
  border-radius: 5px;
  background-color: var(--blanco);
}

button {
  width: 100%;
  padding: 0.7rem;
  background-color: var(--blanco);
  color: var(--color2);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-primario);
  color: var(--blanco);
}

button i {
  font-size: 1.2rem !important;
}


#mensaje-error {
  color: red;
  margin-top: 1rem;
}

/* Animación opcional */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to { opacity: 1; transform: translateY(0); }
}

.bienvenida {
  color: green;
  font-size: 22px;
  text-align: center;
  margin-top: 0px;
  font-weight: bold;
  animation: fadeIn 1s ease-in-out;
  padding-top: 10px;
}

