@import url('./vars.css');

body {
  font-family: Arial, sans-serif;
  background-color: var(--color1);
  color: var(--color2);
  padding: 2rem;
}

.productos-container {
  max-width: 1000px;
  margin: auto;
  background-color: var(--color2);
  color: var(--color1);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  margin-bottom: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: var(--color3);
  color: var(--color2);
}