:root {
    --color1: #1e272e;  /* Fondo principal */
    --color2: #ffffff;  /* Texto principal */
    --color3: #2e86de;  /* Botones / elementos llamativos */
    --color4: #dff9fb;  /* Bordes, secundarios, resaltados */
  }